body {
    box-sizing: border-box;
    flex-direction:column;
    display:flex;
    height: 100vh;
    align-items: center;
}

#container {
    box-sizing: border-box;
    height: 90vh;
    width:90vh;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.gridRow {
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

.gridCol {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    border-color: black;
    border-width: 1px;
    border:solid;
}

.cellColor {
    background-color: black;
}